# Miscellaneous Craft
# ----------------------------------------------------------------------
app/craft/app/*
app/craft/storage/runtime/*
app/craft/storage/backups/*
app/craft/storage/userphotos/*
app/public/assets/*
app/readme.txt
app/*
!app/src*

# Vagrant/Homestead/Composer Specific
# ----------------------------------------------------------------------
vagrant
.vagrant
vendor
composer.json
composer.lock
composer.phar

# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
node_modules/*
bower_components/*
.docs
.env
.sass-cache
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-workspace
*.sublime-project
*.komodoproject
.komodotools
_notes
dwsync.xml
logs/*